
@font-face {
    font-family: NMCRedMono;
    src: url('https://github.com/vandenbogart/art.vandenbog.articles/raw/master/fonts/Intro-Monov1.01GX.ttf')
}

.article-header {
    font-family: NMCRedMono;
}